@import 'semantic-ui';

.chatbox {
    height: 450px;
}

.heading {
    text-align: center;
}

.login-btn{
    width: 100px;
}

#messages{
    height: 15em;
    overflow: auto;
}

.input{
    button{
        display: none;
    }
}